#thirdDiv
{
    height: 600px;
    width: 500px;
    background-color: blue;
    padding: 50px;
    border: 5px red dashed;
    
    /* Alinea el div*/
    margin:0 auto;
    
}

#spanId
{
    font-size: 18px;
    margin: 50px;
}

#h1
{

}

body
{   /* Alinea centrado todo */
    /*text-align: center;*/

    /*Alinea centrado todo con flexbox*/
    flex-direction: column;
    display: -webkit-flex;
    display:         flex;
    
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;

}